

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

section {
    padding: 20px;
}
div {
    background-color: #34495e;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #34495e;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Agrega estilos específicos para tus páginas según sea necesario */
